<h1 *ngIf="animals.length>0" class="text-success"> Extinct Animals.</h1>
<div class="alert alert-warning" *ngIf="animals.length==0">
    Hayvan Bulunamadi.
</div>
<div class="alert alert-warning" *ngIf="animals.length>0">
{{animals.length}} Animals Listed.
</div>

<div class="mb-3">
    <input type="text" class="form-control" [(ngModel)]="filterText"  placeholder="Search.." >
    <small class="text-muted" *ngIf="filterText">Aradiginiz Kelime: {{filterText}}</small>
</div>

<ng-template [ngTemplateOutlet]="animalsList"></ng-template>

<ng-template #animalsList>

<div class="card mb-3" *ngFor="let item of animals | animalFilter: filterText ">
    <div class="row">
        <div class="col-md-3">
            <img src="https://picsum.photos/200/300?random={{item.id}}" class="img-fuild rounded-start" alt="">
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h2 class="card-title" >{{item.title}}</h2>
                <p class="card-text">
                    {{item.description | summary : 30}}
                </p>
                <button class="btn btn-sm btn-outline-success" >Details</button>
            </div>
        </div>
    </div>
    </div>
</ng-template>



